{% extends "problems/base.html" %}

{% load static from staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/cartels.css" %}">
{% endblock %}

{% block js %}
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap.js" %}"></script>
{% endblock %}

{% block content %}
<div class="container text-center">
<h1 class="display-4">Cartels</h1>
</div>

<div class="container">
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <div class="card text-center">
        <div class="card-block">
          <p class="card-text lead">Les Peintres de Skagen forment un groupe d'artistes scandinaves de
            1870 jusqu'au tournant du siècle qui s'est installé à Skagen, à l'extrémité nord du
            Jutland au Danemark, pour y peindre la lumière très particulière à cet endroit.
            L'esthétique des peintres de Skagen se caractérise par la représentation de paysages
            très réalistes aux couleurs riches.</p>
          <!--<progress class="progress progress-info" value="50" max="100">50%</progress>-->
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <div class="card text-center">
        <div class="card-block">
          <p class="card-text lead">Articles détaillés : Histoire de l'Allemagne et Histoire de l'Allemagne depuis 1945.</p>
          <!--<progress class="progress progress-info" value="50" max="100">50%</progress>-->
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <div class="card text-center">
        <div class="card-block">
          <p class="card-text lead">Big riches.</p>
          <!--<progress class="progress progress-info" value="50" max="100">50%</progress>-->
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <div class="card text-center">
        <div class="card-block">
          <p class="card-text lead">À Cologne, Can, fondé en 1968, s'inspire à la fois du free jazz (pour l'improvisation), du rock (pour la rythmique rhythm and blues simplifiée) et de Stockhausen (pour les montages de bandes en studio). Le groupe reste à l'heure actuelle l'un des plus importants de la scène krautrock. Après Klaus Schulze et Can, le mouvement commence à attirer de nombreux musiciens en Allemagne de l'Ouest.</p>
          <!--<progress class="progress progress-info" value="50" max="100">50%</progress>-->
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
    </div>


</div>

{% endblock %}

